/* Reset styles */

html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  li {
    margin: 0;
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  a {
    color: currentColor;
    text-decoration: none;
  }
  
  button {
    cursor: pointer;
  }
  
  img, 
  picture {
    display: block;
    max-width: 100%;
    height: auto;
  }
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    display: none;
  }
  
  

  .container {
    font-family: 'Arial', sans-serif;
    background-color: #f9f3e4; /* Світло-бежевий фон */
    color: #543824; /* Темно-коричневий текст */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center; /* Центрування по горизонталі */
    padding: 20px;
    box-sizing: border-box;
  }
  
  /* Додаткові стилі для покращення вигляду */
  .container::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(to right, #ffcc80, #f48fb1); /* Теплий градієнт зверху */
    z-index: 10; /* Забезпечує відображення над контентом */
  }
  