.header {
    margin: 0 auto;
    background-color:whitesmoke;
    box-shadow: 2px gray;
}
.navigation {
    padding: 50px;
    display: flex;
    gap: 40px;
}
.navlink{
    color: white;
    font-size: 40px;
}
.navlink:hover {
    color: rgb(250, 83, 37);
}
.isActive {
    color: orangered;
}