.castList {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .castItem {
    margin: 10px;
    padding: 15px;
    background-color: #fff8e1; /* Світлий кремовий фон для елементів */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 200px; /* Фіксована ширина для всіх елементів */
  }
  
  .castItem img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
    transition: transform 0.3s ease-in-out; /* Анімація при наведенні */
  }
  
  .castItem img:hover {
    transform: scale(1.1); /* Збільшення при наведенні */
  }
  
  .castItem p {
    margin: 5px 0;
    color: #795548; /* Коричневий колір для тексту */
  }
  